@import "/assets/ui/scrollbar.scss";

// Get all tailwind css
@tailwind base;
@tailwind components;
@tailwind utilities;

// Define global variables
:root {
  --main-border: 10px;
}

html,
body,
#__nuxt {
  font-family: "Montserrat", sans-serif;
  @apply bg-[url('/img/background.webp')] h-full;
}

// Form
.form,
form {
  $self: &;
  &__title {
    @apply text-center text-xl font-semibold;
  }
}

.el-dialog {
  @apply rounded-lg #{!important};
}

.heading-primary {
  @apply text-primary uppercase text-2xl font-bold;
}

.sub-primary {
  @apply text-primary uppercase text-lg font-bold mb-5;
}
