@import "/assets/ui/scrollbar.scss";

// Get all tailwind css
@tailwind base;
@tailwind components;
@tailwind utilities;

// Define global variables
:root {
  --main-border: 10px;
  --primary-color: #007bff;
}

html,
body,
#__nuxt {
  font-family: "Montserrat", sans-serif;
  @apply bg-[url('/img/background.webp')] h-full;
}

// Form
.form,
form {
  $self: &;
  &__title {
    @apply text-black text-center text-xl font-semibold;
  }

  .el-form-item__label {
    @apply text-black;
  }
}

.el-dialog {
  @apply rounded-lg #{!important};
}

.text-primary {
  @apply text-[--primary-color] uppercase text-2xl font-bold;
}

.sub-primary {
  @apply text-[--primary-color] uppercase text-lg font-bold mb-5;
}
